.recipe-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipe-form textarea {
  resize: vertical;
  max-height: 300px;
  min-height: 50px;
}

.footer {
  display: flex;
  justify-content: end;
}
